# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Secrets
.env
.env.*
secrets/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
